<div class="relative -mt-header lg:h-screen flex items-center justify-center py-14 pt-28 px-12 w-full">
  <div class="absolute inset-0 bg-accents-1">
    <div
      style="display:block;overflow:hidden;position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;margin:0">
      {%- assign image = section.settings.cover -%}
      {%- assign max_width = 1000 -%}
      {%- assign max_height = 1500 -%}

      {%- include 'image-logic' with width: max_width, height: max_height -%}

      {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <img src="{{ image | img_url: '1000x' }}"
        data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ image.aspect_ratio }}"
                  data-sizes="auto"
        style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover;object-position:top right">
    </div>
  </div>
  <div class="text-center mx-auto  isolate flex flex-col items-center w-full space-y-3 text-white max-w-3xl">
    <div class="uppercase text-xs lg:text-sm">{{section.settings.label}}</div>
    <div class="uppercase text-xl leading-2xl lg:text-4xl lg:leading-relaxed">{{section.settings.title}}</div><a href="{{section.settings.buttonUrl}}" role="button" data-variant="ghost"
      class="Button_root__24MxS Button_small__123h_ Button_ghost__32qxu inline-block"><span class="text-white">{{section.settings.button}}</span></a>
  </div>
</div>

{% schema %}
{
  "name": {
    "cs": "Video",
    "da": "Video",
    "de": "Video",
    "en": "Video",
    "es": "Video",
    "fi": "Video",
    "fr": "Vidéo",
    "hi": "वीडियो",
    "it": "Video",
    "ja": "ビデオ",
    "ko": "동영상",
    "nb": "Video",
    "nl": "Video",
    "pl": "Film",
    "pt-BR": "Vídeo",
    "pt-PT": "Vídeo",
    "sv": "Video",
    "th": "วิดีโอ",
    "tr": "Video",
    "vi": "Video",
    "zh-CN": "视频",
    "zh-TW": "影片"
  },
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "label",
      "default": {
        "cs": "Video",
        "da": "Video",
        "de": "Video",
        "en": "just landed",
        "es": "Video",
        "fi": "Video",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "Video",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "Video",
        "nl": "Video",
        "pl": "Film",
        "pt-BR": "Vídeo",
        "pt-PT": "Vídeo",
        "sv": "Video",
        "th": "วิดีโอ",
        "tr": "Video",
        "vi": "Video",
        "zh-CN": "视频",
        "zh-TW": "影片"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "title",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Video",
        "da": "Video",
        "de": "Video",
        "en": "FLEUR STORY: HAND PAINTED IN HOUSE EMBRACE SUMMER FLORALS",
        "es": "Video",
        "fi": "Video",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "Video",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "Video",
        "nl": "Video",
        "pl": "Film",
        "pt-BR": "Vídeo",
        "pt-PT": "Vídeo",
        "sv": "Video",
        "th": "วิดีโอ",
        "tr": "Video",
        "vi": "Video",
        "zh-CN": "视频",
        "zh-TW": "影片"
      }
    },
    {
      "type": "text",
      "id": "button",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "button",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Video",
        "da": "Video",
        "de": "Video",
        "en": "View the collection",
        "es": "Video",
        "fi": "Video",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "Video",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "Video",
        "nl": "Video",
        "pl": "Film",
        "pt-BR": "Vídeo",
        "pt-PT": "Vídeo",
        "sv": "Video",
        "th": "วิดีโอ",
        "tr": "Video",
        "vi": "Video",
        "zh-CN": "视频",
        "zh-TW": "影片"
      }
    },
    {
      "type": "url",
      "id": "buttonUrl",
      "label": "button url",
      "default": "/"
    },
    {
      "type": "image_picker",
          "id": "cover",
          "label": {
            "cs": "Obrázek",
            "da": "Billede",
            "de": "Foto",
            "en": "Cover Image",
            "es": "Imagen",
            "fi": "Kuva",
            "fr": "Image",
            "hi": "इमेज",
            "it": "Immagine",
            "ja": "画像",
            "ko": "이미지",
            "nb": "Bilde",
            "nl": "Afbeelding",
            "pl": "Obraz",
            "pt-BR": "Imagem",
            "pt-PT": "Imagem",
            "sv": "Bild",
            "th": "รูปภาพ",
            "tr": "Görsel",
            "vi": "Hình ảnh",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          },
          "info": {
            "cs": "Doporučujeme 1 000 × 800 pixelů",
            "da": "1.000 x 500 px anbefales",
            "de": "1000 x 500px empfohlen",
            "en": "1000 x 500px recommended",
            "es": "1000 x 500px recomendado",
            "fi": "Suositus 1000 x 500 px",
            "fr": "1000 x 500 px recommandé",
            "hi": "1000 x 500px की अनुशंसा की जाती है",
            "it": "Dimensione consigliata: 1000 x 500 pixel",
            "ja": "1000 x 500ピクセルを推奨",
            "ko": "1280 x 800 픽셀 권장",
            "nb": "1000 x 500 piksler anbefales",
            "nl": "1000 x 500px aanbevolen",
            "pl": "Zalecane 1000 x 500 px",
            "pt-BR": "1.000 x 500 px recomendado",
            "pt-PT": "1000 x 500 px recomendado",
            "sv": "1 280 x 800px rekommenderas",
            "th": "แนะนำขนาด 1000 x 500px พิกเซล",
            "tr": "1000 x 500 piksel önerilir",
            "vi": "Đề xuất 1000 x 500px",
            "zh-CN": "推荐使用 1000 x 500 px 大小",
            "zh-TW": "建議使用 1000 x 500px"
          }
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Video",
        "da": "Video",
        "de": "Video",
        "en": "Video",
        "es": "Video",
        "fi": "Video",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "Video",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "Video",
        "nl": "Video",
        "pl": "Film",
        "pt-BR": "Vídeo",
        "pt-PT": "Vídeo",
        "sv": "Video",
        "th": "วิดีโอ",
        "tr": "Video",
        "vi": "Video",
        "zh-CN": "视频",
        "zh-TW": "影片"
      },
      "category": {
        "cs": "Video",
        "da": "Video",
        "de": "Video",
        "en": "Video",
        "es": "Video",
        "fi": "Video",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "Video",
        "ja": "ビデオ",
        "ko": "동영상",
        "nb": "Video",
        "nl": "Video",
        "pl": "Film",
        "pt-BR": "Vídeo",
        "pt-PT": "Vídeo",
        "sv": "Video",
        "th": "วิดีโอ",
        "tr": "Video",
        "vi": "Video",
        "zh-CN": "视频",
        "zh-TW": "影片"
      }
    }
  ]
}
{% endschema %}