<div class="w-full space-y-md">
  <div class="w-full text-center"><h3 class="text-2xl text-center">JOURNAL</h3></div>
  <div class=" py-6 px-0 lg:py-12 space-y-6 lg:space-y-10 overflow-x-auto">
    <div style="min-width: 800px;max-width: unset;"
      class=" Container_root__3ON0K md:min-w-full md:w-full -ml-4 md:mx-0">
      <div class="md:w-full space-x-xs md:space-x-md flex">
        <a class="flex-1 md:mx-2 " href="{{section.blocks[0].settings.url}}">
          <div class="flex relative items-center w-full bg-gray-100">
            <div style="padding-top:61.79775280898876%"></div>
            <div
              style="display:block;overflow:hidden;position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;margin:0">
              {% if section.blocks[0].settings.image %}
              <img alt="{{section.blocks[0].settings.image.alt}}"
              src="{{section.blocks[0].settings.image  | img_url: "large" }}"
              style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover"
              >
              {% else %}
                <div class="absolute inset-0 flex items-center">
                  {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {% endif %}
             
            </div>
            <div class="absolute text-center inset-0 flex flex-col justify-center items-center ">
              <div class="w-48 mx-auto max-w-xs text-white  space-y-2">
                <h3 class=" inline-block lg:text-2xl uppercase">{{section.blocks[0].settings.title }}</h3><button
                  data-variant="ghost"
                  class="Button_root__24MxS Button_small__123h_ Button_ghost__32qxu mt-3 block w-full"><span
                    class="text-white">read more</span></button>
              </div>
            </div>
          </div>
        </a>
        <a class="flex-1 md:mx-2 " href="{{section.blocks[1].settings.url}}">
          <div class="flex relative items-center w-full bg-gray-100">
            <div style="padding-top:61.79775280898876%"></div>
            <div
              style="display:block;overflow:hidden;position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;margin:0">
              {% if section.blocks[0].settings.image %}
              <img alt="{{section.blocks[0].settings.image.alt}}"
              src="{{section.blocks[1].settings.image  | img_url: "large" }}"
              style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover"
              >
              {% else %}
                <div class="absolute inset-0 flex items-center">
                  {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {% endif %}
             
            </div>
            <div class="absolute text-center inset-0 flex flex-col justify-center items-center ">
              <div class="w-48 mx-auto max-w-xs text-white  space-y-2">
                <h3 class=" inline-block lg:text-2xl uppercase">{{section.blocks[1].settings.title }}</h3><button
                  data-variant="ghost"
                  class="Button_root__24MxS Button_small__123h_ Button_ghost__32qxu mt-3 block w-full"><span
                    class="text-white">read more</span></button>
              </div>
            </div>
          </div>
        </a>
    </div>
  </div>
</div>
</div>


{% schema %}
{
  "name": {
    "cs": "Propagovaná kolekce",
    "da": "Udvalgt kollektion",
    "de": "Vorgestellte Kategorie",
    "en": "homepage journal",
    "es": "Colección destacada",
    "fi": "Esittelyssä oleva kokoelma",
    "fr": "Collection en vedette",
    "hi": "फ़ीचर्ड कलेक्शन",
    "it": "Collezione in evidenza",
    "ja": "特集コレクション",
    "ko": "추천 컬렉션",
    "nb": "Utvalgt samling",
    "nl": "Uitgelichte collectie",
    "pl": "Polecana kolekcja",
    "pt-BR": "Coleção em destaque",
    "pt-PT": "Coleção em destaque",
    "sv": "Utvald kollektion",
    "th": "คอลเลกชันแนะนำ",
    "tr": "Öne çıkan koleksiyon",
    "vi": "Bộ sưu tập nổi bật",
    "zh-CN": "特色产品系列",
    "zh-TW": "精選商品系列"
  },
  "class": "clearfix",
  "settings": [
  
  ],
  "blocks":[
    {
      "name": "item",
      "type": "article",
      "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "title",
            "default": "title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "image"
          },
          {
            "type": "url",
            "id": "url",
            "label": "url",
            "default": "/"
          }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Propagovaná kolekce",
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "homepage journal",
        "es": "Colección destacada",
        "fi": "Esittelyssä oleva kokoelma",
        "fr": "Collection en vedette",
        "hi": "फ़ीचर्ड कलेक्शन",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "ko": "추천 컬렉션",
        "nb": "Utvalgt samling",
        "nl": "Uitgelichte collectie",
        "pl": "Polecana kolekcja",
        "pt-BR": "Coleção em destaque",
        "pt-PT": "Coleção em destaque",
        "sv": "Utvald kollektion",
        "th": "คอลเลกชันแนะนำ",
        "tr": "Öne çıkan koleksiyon",
        "vi": "Bộ sưu tập nổi bật",
        "zh-CN": "特色产品系列",
        "zh-TW": "精選商品系列"
      },
      "category": {
        "cs": "Kolekce",
        "da": "Kollektioner",
        "de": "Kategorien",
        "en": "Collections",
        "es": "Colecciones",
        "fi": "Kokoelmat",
        "fr": "Collections",
        "hi": "कलेक्शन",
        "it": "Collezioni",
        "ja": "コレクション",
        "ko": "컬렉션",
        "nb": "Samlinger",
        "nl": "Collecties",
        "pl": "Kolekcje",
        "pt-BR": "Coleções",
        "pt-PT": "Coleções",
        "sv": "Produktserier",
        "th": "คอลเลกชัน",
        "tr": "Koleksiyonlar",
        "vi": "Bộ sưu tập",
        "zh-CN": "产品系列",
        "zh-TW": "商品系列"
      }
    }
  ]
}
{% endschema %}
